<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            color: #000;
            display: flex;
            font-size: 15px;
            
        }

        /* Sidebar styles */
        aside {
            background: linear-gradient(to bottom, #001861, #0e305f);
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
            width: 100px;
            background-color: #001861;
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 0; 
        }

        aside nav a:hover {
            color: #ff4500;
        }

        button[type="submit"] {
            background-color: #ff4500;
            color: #fff;
            border: none;
            height: 30px;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 10px;
            transition: all 0.2s;
        }

        button[type="submit"]:hover {
            background-color: #e63c00; 
        }


        nav {
            display: flex;
            flex-direction: column; 
        }

        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            margin: 10px 0;
        }

        nav a:hover {
            background-color: #022d6f; 
            transform: scale(1.05); 
            transition: all 0.2s; 
            border-radius: 5px;
            padding: 5px 10px; 
        }


        main {
            flex: 1; 
            padding: 1px 20px;
            min-height: 100vh;
            flex-wrap: wrap; 
        }

        .greeting {
            background-color: #001861; 
            color: #fff; 
            padding: 10px 20px; 
            width: 97%;
            height: 50px;
            display: flex;
            align-items: center; 
            margin-bottom: 0;
        }

        h2 {
            margin: 0; 
            width: 100%;
            Padding-top: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #ed4a3a;
        }

        .project-container {
            width: 350px;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            background-color: #dfddf2;
            border-radius: 5px;
            margin: 0 10px 20px 10px; 
            margin-left: 35px;
            text-align: center;
        }

        .projects-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px; 
        }

        .project-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%; 
        }

        .project-container:hover {
            background-color: #cdceea;
        }

        .project-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .date-details, .report-status {
            margin: 5px 0; 
        }

        ul {
            list-style: none;
            margin-left: 0;
            padding: 0;
            display: flex;
        }

        li {
            background-color: #fff;
            color: #001861;
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
        }

        .news-column {
            width: 200px;
            background-color: #fff; 
            border: 1px solid #0020cd; 
            padding: 10px;
            margin-left: 20px;
            min-height: 100vh;
            font-size: 15px;
        }
        
        .update-section {
            flex: 1; 
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        
        .update {
            background-color: #fff;
            color: #001861;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
            border-bottom: 1px solid #001861; 
        }

        .update p:first-child {
            color: #ff4500;
        }
        
    </style>
</head>
<body>
    <aside>
        <nav>
            <a href="/pulse/dashboard"><i class="fas fa-tachometer-alt"></i> Overview</a>
            <a href="/pulse/profile"><i class="fas fa-user"></i> Profile</a>
            <a href="/pulse/users"><i class="fas fa-users"></i> Users</a>
            <a href="/pulse/register"><i class="fas fa-user-plus"></i> Register</a>
            <a href="/pulse/createproject"><i class="fas fa-plus-square"></i> Create Project</a>
            <a href="/pulse/changepassword"><i class="fas fa-key"></i> Change Password</a>

            <form action="/pulse/logout?_method=DELETE" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </aside>
    <main>
        <div class="greeting">
            <h1>Hello <%= username %>!</h1>
        </div>

        <h2>Your Projects:</h2>

        <div class="projects-wrapper">
            <% if (dashboard.length > 0) { %>
                <% let currentProject = null; %>
                <% dashboard.forEach(project => { %>
                    <% if (project.project_name !== currentProject) { %>
                        <a href="/pulse/project/<%= project.project_id %>" style="text-decoration: none;"> 
                            <div class="project-container">
                                <div class="project-details">
                                    <div class="project-title" style="color: #001861;">📁 <%= project.project_name %></div> 
                                    <div class="date-details" style="color: #001861;">
                                        Start: <%= new Date(project.project_start_date).toLocaleString() %> <br>
                                        End: <%= new Date(project.project_end_date).toLocaleString() %>

                                    </div>
                                    <div class="report-status" style="color: #001861;">Frequency: <%= project.report_frequency %></div>
                                    <div class="report-status" style="color: #001861;">Report time: <%= project.reporting_time %></div>
                                    <% if (project.report_frequency !== 'daily') { %>
                                        <div class="report-status" style="color: #001861;">Report day: <%= project.report_day %></div>
                                    <% } %>
                                    <div class="report-status" style="color: #001861;">Reports in progress: <%= project.reports_in_progress %></div>
                                    <div class="report-status" style="color: #001861;">Reports waiting to be read: <%= project.reports_completed %></div>
                                </div>
                            </div>
                        </a>
                    <% } %>
                    <% currentProject = project.project_name; %>
                <% }); %>
            <% } else { %>
                <p>No projects or reports found for <%= username %>.</p>
            <% } %>
        </div>

    </main>
    <div class="news-column">
        <h2>News: </h2>
        <div class="update-section">
            <% updates.forEach(update => { %>
                <div class="update">
                    <p><%= new Date(update.time_stamp).toLocaleString()%></p>
                    <p><%= update.content %></p> 
                </div>
            <% }); %>
        </div>
    </div>
    
</body>
</html>
